
{{define "title"}}Erreur #{{.Form.Numero}}{{end}}
{{define "main"}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>Erreur #{{.Form.Numero}} : {{.Form.Message}}</strong>
            </div>
        </div>
{{end}}